/* Content copied from "checkout5-custom.css" at 2024-07-24T16:27:26.386Z */

@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,700&display=swap");
body {
  padding: 0;
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body .container-cart {
  flex-grow: 1;
}
.checkout-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: white;
}
.checkout-header img {
  height: 80px;
  width: auto;
}
.container-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans";
}
.container-cart h1#cart-title {
  display: none !important;
}
.container-cart .cart-active {
  background: white;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .empty-cart-content[style="display: block;"] {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .empty-cart-content[style="display: block;"]
  .empty-cart-title {
  order: 2;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  color: #005488;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .empty-cart-content[style="display: block;"]
  .clearfix.empty-cart-links {
  order: 3;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .empty-cart-content[style="display: block;"]
  .clearfix.empty-cart-links
  .link-choose-products {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f99400;
  background-image: none;
  text-shadow: none;
  border: none;
  width: 280px;
  height: 50px;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  box-sizing: border-box;
}
.container-cart .cart-active .cart-template .cart-template-holder .cart {
  border: none;
  padding: 0;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item {
  height: 100px;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .product-image {
  padding: 0 10px;
  min-width: 100px;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .product-image
  a
  img {
  width: 80px;
  height: auto;
  max-width: 100px;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .product-name
  a {
  display: inline-block;
  color: black;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .product-name
  a:hover {
  text-decoration: underline;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .product-price {
  font-weight: 600;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .quantity
  input {
  margin: 0;
  border-radius: 0;
  border-style: solid none;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .quantity
  a.item-quantity-change {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #005488;
  height: 30px;
  width: 30px;
  position: relative;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .quantity
  a.item-quantity-change.item-quantity-change-decrement {
  right: -5px;
  border-radius: 5px 0 0 5px;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .quantity
  a.item-quantity-change.item-quantity-change-decrement
  i:before {
  content: "\f068";
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .quantity
  a.item-quantity-change.item-quantity-change-increment {
  left: -5px;
  border-radius: 0 5px 5px 0;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .quantity
  a.item-quantity-change.item-quantity-change-increment
  i:before {
  content: "\f067";
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .quantity
  a.item-quantity-change
  i {
  color: white;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .item-remove {
  padding: 0;
}
.container-cart
  .cart-active
  .cart-template
  .cart-template-holder
  .cart
  .cart-items
  tbody
  tr.product-item
  .item-remove
  a {
  padding: 0;
  font-size: 25px;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .coupon-column {
  display: none;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table {
  text-transform: uppercase;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  #cart-dont-know-postal-code {
  display: none;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  div.shipping-fields
  input {
  border-radius: 5px 0 0 5px;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  div.shipping-fields
  button {
  position: relative;
  left: -5px;
  border-radius: 0 5px 5px 0;
  background-color: #005488;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  td.monetary {
  text-align: left;
  font-weight: bold;
  padding-left: 25px;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  tbody.totalizers-list
  tr.Items {
  font-size: 14px;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  tbody.totalizers-list
  tr.Shipping {
  font-size: 14px;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  tbody.totalizers-list
  tr.Shipping
  td.info
  span.postal-code-for-sla {
  font-size: 14px;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  tbody.totalizers-list
  tr.Shipping
  td.info
  .shipping-selected-sla-estimate {
  display: none;
}
.container-cart
  .cart-active
  .cart-template
  .summary-template-holder
  .summary-totalizers
  .accordion-inner
  .table
  tfoot
  tr
  td {
  font-size: 14px;
}
.container-cart
  .cart-active
  .cart-template
  .clearfix.cart-links-bottom
  span.link-choose-more-products-wrapper
  a {
  color: black;
}
.container-cart
  .cart-active
  .cart-template
  .clearfix.cart-links-bottom
  span.btn-place-order-wrapper
  a {
  background-image: none;
  text-shadow: none;
  box-shadow: none;
  background-color: #f99400;
  border: none;
  text-transform: uppercase;
  font-weight: 500;
}
.checkout-footer {
  padding: 35px;
  background-color: white;
}
.checkout-footer .width-control-box {
  display: flex;
}
.checkout-footer .width-control-box > div {
  flex-grow: 1;
}
.checkout-footer p {
  font-size: 14px;
  font-weight: bold;
  color: #f99400;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 5px;
}
#render-cartman {
  display: none;
}
@media (min-width: 768px) {
  .width-control-box {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .width-control-box {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .width-control-box {
    width: 1170px;
  }
}
.width-control-box {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/*********************************************************************
 *
 *
 *                        Mobile specific                           
 *
 *
 *********************************************************************/
@media (max-width: 736px) {
  body.body-cart {
    padding-bottom: 0;
  }
  body.body-cart .container-cart {
    min-height: 430px;
  }
  body.body-cart .container-cart .cart-active {
    background: white;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    thead
    th {
    text-align: left;
    font-size: 18px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item {
    font-size: 14px;
    width: 90%;
    margin: auto;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    td {
    text-align: left;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .product-name {
    margin-left: 100px;
    margin-right: 25px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .product-name
    span {
    display: none;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .product-name
    a {
    max-width: 95%;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .product-price {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .quantity {
    width: 200px;
    position: absolute;
    left: 35px;
    bottom: 10px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .quantity
    input {
    padding: 0;
    height: 28px;
    width: 45px;
    font-size: 16px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .quantity
    a {
    padding: 0;
    left: auto;
    right: auto;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .item-remove {
    margin: 15px 15px 0 0;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    table.cart-items
    tbody
    tr.product-item
    .item-remove
    a:hover {
    color: #f99400;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder {
    margin-top: 30px;
    margin: auto;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary[style="display: block;"] {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary[style="display: block;"]
    .summary-totalizers {
    margin: auto;
    width: initial;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary[style="display: block;"]
    .summary-totalizers
    table
    td.info,
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary[style="display: block;"]
    .summary-totalizers
    table
    td.monetary {
    padding: 0;
    width: 175px;
    font-size: 14px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary[style="display: block;"]
    .summary-totalizers
    table
    td.info,
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary[style="display: block;"]
    .summary-totalizers
    table
    td.info
    span {
    font-size: 12px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary[style="display: block;"]
    .summary-totalizers
    table
    td.space {
    width: 15px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .clearfix.cart-links-bottom {
    margin-top: 30px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .clearfix.cart-links-bottom
    span.link-choose-more-products-wrapper {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }
  body.body-cart
    .container-cart
    .cart-active
    .cart-template
    .clearfix.cart-links-bottom
    #cart-to-orderform {
    width: 80%;
    margin: auto;
  }
  body.body-cart .container-cart svg {
    max-height: 170px;
  }
  .checkout-footer .width-control-box {
    flex-direction: column;
    align-items: center;
  }
  .checkout-footer .width-control-box > div {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*********************************************************************
 *
 *
 *                        Desktop specific                           
 *
 *
 *********************************************************************/
@media (min-width: 737px) {
  .container-cart {
    width: 1170px;
  }
  .container-cart .cart-active {
    background: white;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items {
    margin: 40px 100px 0;
    max-width: 970px;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    thead
    th {
    text-align: left;
    font-size: 18px;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item {
    font-size: 16px;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item
    td {
    text-align: left;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item
    .product-name {
    max-width: 300px;
    width: 300px;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item
    .product-name
    a {
    margin-left: 12px;
    max-width: 95%;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item
    .quantity
    input {
    font-size: 16px;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item
    .quantity-price {
    font-weight: 600;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item
    .item-remove {
    padding: 0;
  }
  .container-cart
    .cart-active
    .cart-template
    .cart-template-holder
    .cart
    .cart-items
    tbody
    tr.product-item
    .item-remove
    a:hover {
    color: #f99400;
  }
  .container-cart
    .cart-active
    .cart-template
    .summary-template-holder
    .summary-totalizers {
    margin-right: 100px;
  }
  .container-cart .cart-active .cart-template .clearfix.cart-links-bottom {
    margin-right: 100px;
  }
  .container-cart
    .cart-active
    .cart-template
    .clearfix.cart-links-bottom
    span.link-choose-more-products-wrapper
    a:hover {
    text-decoration: underline;
  }
  .checkout-footer .width-control-box {
    flex-direction: row;
    align-items: flex-start;
  }
}

/* @import url('/arquivos/7w-style-checkout.css'); */
